body {
  background-image: url("../img/wood.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 1 1;
  /* background-color:powderblue; */
}
h1 {
  border: 10px solid rgb(71, 255, 255);
  text-align: center;
  color: red;
  font-size: 80px;
  /* blackground-color:coral; */
}
p {
  text-align: center;
  font-size: 50px;
}

.p1 {
  text-align: center;
  font-size: 50px;
}
.note {
  color: aqua;
  text-align: center;
  font-size: 60px;
}

img {
  width: 400px;
  height: 400px;
  float: left;
}
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
.section {
  display: flex;
}

/* Create two columns/boxes that floats next to each other */
.section > div {
  /*float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
/*nav ul {
  list-style-type: none;
  padding: 0;
}*/
.side {
  display: flex;
  flex: 30%;
  flex-direction: column;
}
.side > .side_img {
  flex: 80%;
}
.side > .side_statements {
  flex: 20%;
  background-color: red;
}
.article {
  /*float: left;
  padding: 20px;
  width: 70%;*/
  flex: 70%;
  font-size: 1vw;
  background-color: #f1f1f1;
  /*height: 300px;*/ /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
